<p class="lead">Recipes are recurring sets of task lists.</p>
<table class="table">
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Frequency</th>
      <th class='text-right'>On</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#linkTo 'recipe' id}}{{name}}{{/linkTo}}</td>
        <td>{{frequency}}</td>
        <td class='text-right'>{{timeframe}}</td>
        <td>
          <ol class="switch">
            <li {{bind-attr class=":active active:true:false"}}></li>
          </ol>
        </td>
        <td class='text-right'>
          <button class='btn btn-primary btn-xs'>
            <i class="fa fa-rocket"></i>
            Launch now
          </button>
        </td>
        <td class='text-right'>
          <button {{action openModal 'recipe_delete' this}} class='btn btn-danger btn-xs'>
            <i class="fa fa-times-circle-o"></i>
            Remove
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<a {{action openModal 'recipe_create'}} class='btn btn-primary'>
  <i class="fa fa-plus"></i> Add a new recipe
</a>