<h1>Account</h1>

<div class="page-header">
  <h2 class="h5">You</h2>
</div>

<div class="row">
  <div class='col-xs-3'>
    <div class="media">
      <a class="pull-left" href="http://www.gravatar.com">
        <img class="media-object" src="images/jason.png">
      </a>
      <div class="media-body">
        You can update your image at <a href="http://www.gravatar.com">gravatar.com</a>.
      </div>
    </div>
  </div>
  <div class='col-xs-6'>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="user_name" class="col-xs-3 control-label">Name</label>
        <div class="col-xs-9">
          {{#if isEditing}}
            {{view Ember.TextField valueBinding="name" id="user_name" class="form-control" action="acceptChanges"}}
          {{else}}
            <div class="form-control-static" {{action "editAccount" on="doubleClick"}}>{{name}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Email</label>
        <div class="col-xs-9">
          {{#if isEditing}}
            {{view Ember.TextField valueBinding="email" id="user_email" class="form-control" action="acceptChanges"}}
          {{else}}
            <div class="form-control-static" {{action "editAccount" on="doubleClick"}}>{{email}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-xs-9">
          <div class="checkbox">
            <label>
              {{view Ember.Checkbox checkedBinding="emailMe"}} Email me about product updates.
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="page-header">
  <h2 class="h5">Your company</h2>
</div>

<div class="row">
  <div class='col-xs-6 col-sm-offset-3'>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="user_company_name" class="col-xs-3 control-label">Name</label>
        <div class="col-xs-9">
          {{#if isEditing}}
            {{view Ember.TextField valueBinding="company.name" id="user_company_name" class="form-control" action="acceptChanges"}}
          {{else}}
            <div class="form-control-static" {{action "editAccount" on="doubleClick"}}>{{company.name}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label for="user_company_slug" class="col-xs-3 control-label">Subdomain</label>
        {{#if isEditing}}
          <div class="col-xs-5">
            {{view Ember.TextField valueBinding="company.slug" id="user_company_slug" class="form-control" action="acceptChanges"}}
          </div>
        {{else}}
          <div class="form-control-static pull-left" style="padding-left:15px" {{action "editAccount" on="doubleClick"}}>{{company.slug}}</div>
        {{/if}}
        <div class="form-control-static pull-left">.activecell.com</div>
      </div>
    </form>
  </div>
</div>

<div class="page-header">
  <h2 class="h5">Billing</h2>
</div>

<div class="row">
  <div class='col-xs-6 col-sm-offset-3'>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-offset-3 col-xs-9">
          <p class="help-block">
            <small>This account is billed to:
              <strong>{{company.creditType}} {{company.lastFour}}</strong></small>
          </p>
          <button class='btn btn-default btn-sm'>Update credit card</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-9 col-sm-offset-3">
          <a href="#" class='text-danger'>Close this account…</a>
        </div>
      </div>
    </form>
  </div>
</div>