<h1>Account</h1>

<table class="table">
  <thead>
    <tr>
      <th>You</th>
    </tr>
  </thead>
</table>

<div class="row">
  <div class='col-xs-3'>
    <div class="media">
      <a class="pull-left" href="http://www.gravatar.com">
        <img class="media-object" src="images/jason.png">
      </a>
      <div class="media-body">
        You can update your image at <a href="http://www.gravatar.com">gravatar.com</a>.
      </div>
    </div>
  </div>
  <div class='col-xs-6'>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-xs-3 control-label">Name</label>
        <div class="col-xs-9">
          {{#if isYouEditing}}
            <input type="text" class="form-control" {{bindAttr value="name"}}>
          {{else}}
            <div class="form-control-static">{{name}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Email</label>
        <div class="col-xs-9">
          {{#if isYouEditing}}
            <input type="text" class="form-control" {{bindAttr value="email"}}>
          {{else}}
            <div class="form-control-static">{{email}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-xs-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" {{bindAttr value="emailMe"}}> Email me about product updates.
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-xs-9">
          {{#if isYouEditing}}
            <button type="submit" class="btn btn-success" {{action "saveYou" on="click"}}>Save</button>
          {{else}}
            <button type="submit" class="btn btn-default" {{action "editYou" on="click"}}>Update</button>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Your password</th>
    </tr>
  </thead>
</table>

<div class="row">
  <div class='col-xs-6 col-sm-offset-3'>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-xs-3 control-label">Current</label>
        <div class="col-xs-9">
          {{#if isPasswordEditing}}
            <input type="password" class="form-control" {{bindAttr value="password"}}>
          {{else}}
            <div class="form-control-static">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
            </div>
          {{/if}}
        </div>
      </div>
      {{#if isPasswordEditing}}
        <div class="form-group">
          <label class="col-xs-3 control-label">New</label>
          <div class="col-xs-9">
            <input type="password" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label">Confirm</label>
          <div class="col-xs-9">
            <input type="password" class="form-control">
          </div>
        </div>
      {{/if}}
      <div class="form-group">
        <div class="col-sm-offset-3 col-xs-9">
          {{#if isPasswordEditing}}
            <button type="submit" class="btn btn-success" {{action "savePassword" on="click"}}>Save</button>
          {{else}}
            <button type="submit" class="btn btn-default" {{action "editPassword" on="click"}}>Update</button>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Your company</th>
    </tr>
  </thead>
</table>

<div class="row">
  <div class='col-xs-6 col-sm-offset-3'>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-xs-3 control-label">Name</label>
        <div class="col-xs-9">
          {{#if isCompanyEditing}}
            <input type="text" class="form-control" {{bindAttr value="company.name"}}>
          {{else}}
            <div class="form-control-static">{{company.name}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Subdomain</label>
        {{#if isCompanyEditing}}
          <div class="col-xs-5">
            <input type="text" class="form-control" {{bindAttr value="company.slug"}}>
          </div>
        {{else}}
          <div class="form-control-static pull-left">{{company.slug}}</div>
        {{/if}}
        <div class="form-control-static pull-left">.activecell.com</div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-xs-9">
          {{#if isCompanyEditing}}
            <button type="submit" class="btn btn-success" {{action "saveCompany" on="click"}}>Save</button>
          {{else}}
            <button type="submit" class="btn btn-default" {{action "editCompany" on="click"}}>Update</button>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Billing</th>
    </tr>
  </thead>
</table>

<div class="row">
  <div class='col-xs-6 col-sm-offset-3'>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-offset-3 col-xs-9">
          <p class="help-block">
            <small>This account is billed to:
              <strong>{{company.creditType}} {{company.lastFour}}</strong></small>
          </p>
          <button class='btn btn-default btn-sm'>Update credit card</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-9 col-sm-offset-3">
          <a href="#" class='text-danger'>Close this account…</a>
        </div>
      </div>
    </form>
  </div>
</div>

