<h1>
  {{#if parent}}
    {{#link-to 'clients' parent.id}}{{parent.name}}{{/link-to}}
    <i class="fa fa-angle-right"></i>
  {{/if}}

  {{name}}

</h1>

<br />

<ul class="nav nav-tabs">

  {{#unless parent}}
    {{#link-to 'clients' id tagName="li" href=false}}
      <a {{bindAttr href="view.href"}}>
        <i class="fa fa-briefcase"></i>
        Clients
      </a>
    {{/link-to}}
  {{/unless}}

  {{#link-to 'recipes' id tagName="li" href=false}}
    <a {{bindAttr href="view.href"}}>
      <i class="fa fa-cutlery"></i>
      Recipes
    </a>
  {{/link-to}}

  {{#link-to 'resources' id tagName="li" href=false}}
    <a {{bindAttr href="view.href"}}>
      <i class="fa fa-fighter-jet"></i>
      Resources
    </a>
  {{/link-to}}

  {{#link-to 'access' id tagName="li" href=false}}
    <a {{bindAttr href="view.href"}}>
      <i class="fa fa-lock"></i>
      Access
    </a>
  {{/link-to}}

  {{#link-to 'activity' id tagName="li" href=false}}
    <a {{bindAttr href="view.href"}}>
      <i class="fa fa-truck"></i>
      Activity
    </a>
  {{/link-to}}

</ul>

<br />

{{outlet}}
