<h2>
  {{#if parent}}
    {{#link-to 'company' parent.id}}{{parent.name}}{{/link-to}}
    <i class="fa fa-angle-right"></i>
  {{/if}}

  {{name}}

</h2>

<ul class="nav nav-tabs">

  {{#unless parent}}
    {{#link-to 'company.clients' id tagName="li" href=false}}
      <a {{bindAttr href="view.href"}}>
        <i class="fa fa-briefcase"></i>
        Clients
      </a>
    {{/link-to}}
  {{/unless}}

  {{#link-to 'company.recipes' id tagName="li" href=false}}
    <a {{bindAttr href="view.href"}}>
      <i class="fa fa-cutlery"></i>
      Recipes
    </a>
  {{/link-to}}

  {{#link-to 'company.resources' id tagName="li" href=false}}
    <a {{bindAttr href="view.href"}}>
      <i class="fa fa-fighter-jet"></i>
      Resources
    </a>
  {{/link-to}}

  {{#link-to 'company.access' id tagName="li" href=false}}
    <a {{bindAttr href="view.href"}}>
      <i class="fa fa-lock"></i>
      Access
    </a>
  {{/link-to}}

  {{#link-to 'company.activity' id tagName="li" href=false}}
    <a {{bindAttr href="view.href"}}>
      <i class="fa fa-truck"></i>
      Activity
    </a>
  {{/link-to}}

</ul>

{{outlet}}
