{{#linkTo 'recipes'}}
  <i class="fa fa-arrow-circle-o-left"></i>
  Back to recipe list
{{/linkTo}}

<br />
<h2>{{name}}</h2>

<div class="row">
  <div class='col-xs-6'>

    <table class="table">
      <thead>
        <tr>
          <th><i class="fa fa-cogs"></i> Recipe settings</th>
        </tr>
      </thead>
    </table>

    <form role="form">
      <div class="form-group">
        <label for="frequencySelector">How often will this recipe be used?</label>
        <select id="frequencySelector" class="form-control">
          <option>Daily</option>
          <option>Weekly</option>
          <option>Monthly</option>
          <option>Quarterly</option>
          <option>Annually</option>
          <option>As needed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="onText">One what day of the period?</label>
        <input type="text" class="form-control" id="onText" value='1'>
      </div>
    </form>

    <button class='btn btn-primary btn-block'>
      <i class="fa fa-rocket"></i>
      Launch now manually
    </button>

  </div>

  <div class='col-xs-6'>

    <table class="table">
      <thead>
        <tr>
          <th><i class="fa fa-tasks"></i> Tasks to queue each time (drag to reorder)</th>
        </tr>
      </thead>
    </table>

    {{#view App.SortableListGroup}}
      <ul class="sortable list-group">
        {{#each tasks}}
          <li class='list-group-item'>
            <span class="badge">{{minutes}}</span>
            <img {{bindAttr src="avatarSrc"}} height="20" width="20">
            <a class='text-primary' {{action openModal 'task_edit' this}}>{{name}}</a>
          </li>
        {{/each}}
      </ul>
    {{/view}}
    <button {{action openModal 'task_create'}} class='btn btn-block btn-primary'>
      <i class="fa fa-plus"></i>
      Add a task
    </button>

  </div>
</div>